*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,span{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
ul,ol{
  list-style: none;
}
img{
  display: block;
}
input{
  border: none;
  outline: none;
}